services:
  php:
    build:
      context: .
      dockerfile: docker/php-fpm/Dockerfile
    env_file:
      - .env
    container_name: crm-back-svc
    image: harbor.anrostech.com/anros/crm-back-svc:latest
    restart: unless-stopped
    networks:
      - app-network

  nginx:
    build:
      context: docker/nginx/.
    container_name: laravel-nginx
    image: harbor.anrostech.com/anros/crm-back-nginx:latest
    restart: unless-stopped
    depends_on:
      - php
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

